@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="main">
    <h1>Mina sidor</h1>
    <div class="flex-mypage">
        <div class="flexdiv">
            <h2>Ändra dina uppgifter</h2>
            <partial name="_ManageNav" />
            @RenderBody()
        </div>
        <div class="flexdiv">
            <partial name="_Links" />
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
