<h3>Alternativ</h3>

<ul class="manage-ul">
    <li>
        <a class="" asp-area="" asp-controller="Products" asp-action="ProductsByUser">Mina annonser</a>
    </li>
    <li>
        <a class="" asp-area="" asp-controller="Bids" asp-action="Index">Mina bud</a>
    </li>
    <li>
        <a class="" asp-area="" asp-controller="Products" asp-action="ProductsByUser">Bud på mina annonser</a>
    </li>
</ul>