@using System.Security.Claims;
@using Azure.Core;
@model HappySalesApp.Models.HappySales.Models.Bid

@{
    ViewData["Title"] = "Lägg ett bud";



}

<h1>Lägg ett bud</h1>

<form asp-controller="Bids" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label">Bud:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
    <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
