@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
    font-size: 1.6rem;
}

li {
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
}

a {
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
}

h2 {
    font-size: 2.6rem;
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
}

h3 {
    font-size: 2.4rem;
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
}

h4 {
    font-size: 2.2rem;
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
}

label {
    font-family: 'Manrope', sans-serif;
    color: #2F2727;
    font-size: 1.6rem;
}

.main {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

button,
input [type="submit"] {
    cursor: pointer;
}


/*Header*/
header {
    background-color: #F4EEEE;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    align-content: baseline;
}

nav ul {
    margin-top: 2rem;
}

nav li {
    display: inline;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 2rem;
    max-width: 700px;
}

.inline-links form {
    display: inline-block;
}

i {
    color: #2F2727;
}

.logout-btn {
    background-color: #6B0037;
    color: #F4EEEE;
    border: 1px solid white;
    max-width: 200px;
    width: 100%;
    padding: 1rem 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
}

/*Startsida*/
.dark-main {
    background-color: #2F2727;
    padding: 10rem;
}

select{
    padding: 1rem;
    max-width: 120px;
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
}

    select option {
        padding: 5px;
    }

    .dark-main form {
        max-width: 700px;
        width: 100%;
        margin: auto;
        display: block;
    }

    .dark-main label {
        color: white;
        font-size: 3.2rem;
    }

    .dark-main input[type="text"] {
        padding: 1rem;
        max-width: 600px;
        width: 100%;
    }

.dark-main input[type="submit"] {
    max-width: 130px;
    padding: 1rem 0;
    margin-left: 2rem;
    font-size: 1.6rem;
    border: 1px solid white;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #6B0037;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-flex {
    display: flex;
    max-width: 800px;
    width: 100%;
}

.div-form{
    width: 80%;
}

.flex-index {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

    .flex-index div {
        border: 1px solid black;
        max-width: 180px;
        padding: 2rem;
        width: 100%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin: 2.5rem;
        background-color: #6B0037;
    }

    .flex-index a {
        font-size: 1.8rem;
        color: white;
        padding: 1rem;
    }

        .flex-index div:hover {
            background-color: #3e0120;
            font-weight:bold;
        }

        #centered {
            text-align: center;
        }
/*Mina sidor*/
.manage-ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

    .manage-ul a {
        padding: 0 12rem;
    }

        .manage-ul a:hover {
            color: black;
        }

    .manage-ul li {
        font-size: 1.6rem;
        margin-top: 2rem;
        border: 1px solid #6B0037;
        max-width: 500px;
        width: 100%;
        padding: 1.5rem;
        background-color: #F4EEEE;
        font-weight: bold;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

        .manage-ul li:hover {
            background-color: #c5c0c0;
        }

/*Ändra mail*/

.change-form input[type="text"],
.change-form input[type="email"],
.change-form input[type="password"] {
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.change-form button {
    margin-top: 3rem;
    max-width: 150px;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    background-color: #6B0037;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.output-flex {
    width: 100%;
}

.delete-btn {
    margin-top: 4rem;
    max-width: 200px;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    background-color: #2F2727;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*Alla produkter*/
.products-flex {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
}

.main h1 {
    text-align: center;
}

.flex-nav ul {
    list-style-type: none;
    padding-left: 0;
}

.flex-nav li {
    margin-top: 2.5rem;
}

.flex-nav a {
    font-size: 1.6rem;
}

.flex-nav {
    max-width: 200px;
    width: 100%;
}

.products {
    max-width: 230px;
    width: 100%;
}

    .products:hover {
        text-decoration: underline;
    }

    .products h3 {
        font-size: 2.2rem;
    }

.flex-container {
    display: flex;
    justify-content: space-between;
}

/*Detaljer*/
.details {
    max-width: 500px;
    width: 100%;
}

/*ProductsByCategory*/
.productsbycategory{
    max-width: 600px;
    width: 100%;
}

.productsbycategory h1{
    text-align: left;
}

.flex-list{
    display: flex;
    justify-content: space-between;
}

.list li{
    font-size: 1.6rem;
}

.list li:hover{
    text-decoration: underline;
}

/*Search*/

/*Logga in*/
.login-form {
    max-width: 400px;
    width: 100%;
    margin: 5rem auto;
    background-color: #F4EEEE;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

    .login-form h1{
        text-align: center;
        font-size: 2.4rem;
    }

    .login-form label{
        font-size: 1.6rem;
    }

    .login-form input[type="email"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 0.5rem;
    }

    .login-form button {
        margin: 2rem 0;
        padding: 1rem 0;
        font-size: 1.6rem;
        border: 1px solid white;
        width: 100%;
        color: white;
        border-radius: 5px;
        background-color: #6B0037;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

        .login-form button:hover {
            background-color: #3e0120;
        }

        .list-user {
            margin-top: 4rem;
        }

.text-danger {
    font-size: 1.6rem;
    font-family: 'Manrope', sans-serif;
    color: #460101;
}
