@{
    ViewData["Title"] = "Om Happy Sales";
}

<div class="main">
    <h1>Om Happy Sales</h1>
    <article class="about">
        <h2>Välkommen!</h2>
        <p>Välkommen till Happy Sales - en köp och sälj-sida för inredning! Här kan du hitta allt från möbler och lampor till textilier och dekorationer. Vårt mål är att skapa en enkel och smidig plattform där köpare och säljare kan mötas och genomföra säkra affärer.</p>
    </article>


    <article class="about">
        <h2>Projektuppgift</h2>
        <p>Happy Sales är ett fiktivt företag och har skapats för en projektuppgift i kursen DT191G - Webbutveckling med .NET.</p>
        </article>

</div>