@model IEnumerable<HappySalesApp.Models.HappySales.Models.Category>

@{
    ViewData["Title"] = "Home Page";
}

<section class="dark-main">
</section>

<div class="text-center">
    <h2>Kategorier</h2>

    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item.CategoryName)
    }


</div>
