@model IEnumerable<HappySalesApp.Models.HappySales.Models.Category>

@{
    ViewData["Title"] = "Startsida";
}

<!--Sektion med ett kontaktformulär-->
<div class="dark-main">
    <form method="post" action="@Url.Action("Search", "Home")">
        @Html.AntiForgeryToken()
        <label for="searchinfo">Vad söker du?</label>
        <br><br>
        <div class="form-flex">
            <div class="div-form">
                <input type="text" name="searchTerm" id="searchinfo">
            </div>
        
                <input type="submit" value="Sök">
  
        </div>
    </form>
</div>

<div class="main">
    <h2 id="centered">Kategorier</h2>
    <div class="flex-index">
        

            @foreach (var item in Model)
            {
                <div>
               
                    @Html.ActionLink(item.CategoryName, "ProductsByCategory", "Products", new { id = item.CategoryId }, null)
               </div>
            }
      


    </div>
</div>
